/* COLORS 

logo(company name)
#CD8376
white
#FFF9F9
grey
#4C4B4B
main(background)
#EFD8D1
accent
#6E825F
*/

/* FONTS

sizes

*/
:root {
  --color-primary: #efd8d1;
  --color-grey: #4c4b4b;
  --color-white: #fff9f9;
  --color-accent: #6e825f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-white);
}
.main-header {
  position: fixed;
  width: 100%;
}
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: 1.2rem 0;
}
/* LOGO */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.logo img {
  max-width: 8.2rem;
  margin-left: 2.2rem;
}
.company-name {
  font-size: 1.8rem;
  color: #cd8376;
}
.logo-name {
  font-size: 2.4rem;
  color: var(--color-accent);
  font-family: "Great Vibes", sans-serif;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Raleway", serif;
}
.nav-link {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
}
