/* COLORS 

logo(company name)
#CD8376
white
#FFF9F9
grey
#4C4B4B
main(background)
#EFD8D1
accent
#6E825F
*/

/* FONTS

sizes



  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
:root {
  --color-primary: #efd8d1;
  --color-grey: #4c4b4b;
  --color-accent: #6e825f;
  --color-white: #fff9f9;
  --color-white-oppacity: rgba(255, 249, 249, 0.5);
  --color-white-oppacity-2: rgba(255, 249, 249, 0.75);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-white);
  color: var(--color-grey);

  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.section img {
  border-radius: 1000rem;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25);
}
/* GENERAL stylings */
.section {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12.5rem;
  position: relative;
}
.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  gap: 8rem;
  padding: 2.4rem;
}
.article section {
  flex: 1 0 0;
}
/* -BACKGROUNDS for SECTION */
.section.hero,
.section.about,
.section.hero {
  overflow: hidden;
}
.section.hero::before,
.section.about::before {
  content: "";
  display: inline-block;

  width: 500rem;
  aspect-ratio: 5/2;
  position: absolute;
}
.section.hero::before {
  top: -85%;
  left: -500rem;
  border-radius: 70rem;

  transform: translate(22%, 0) rotate(35deg);
  z-index: -2;
  background-color: var(--color-primary);
}
.section.about::before {
  position: absolute;

  bottom: -112.7%;
  left: 30%;
  border-radius: 70rem;

  background-color: var(--color-primary);

  z-index: -2;
}
/*  -HEADER- */
.main-header {
  position: fixed;
  width: 100%;
  background-color: var(--color-white-oppacity);
  z-index: 1;
}
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: 1.2rem 0;
}
/*  -LOGO- */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.logo img {
  max-width: 8.2rem;
  margin-left: 2.2rem;
}
.company-name {
  font-size: 1.8rem;
  color: #cd8376;
}
.logo-name {
  font-size: 2.4rem;
  color: var(--color-accent);
  font-family: "Great Vibes", sans-serif;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Raleway", serif;
}
.nav-link {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
}
.hero {
  position: relative;
  justify-content: center;
  font-family: "Merriweather", serif;
  position: relative;
}
.hero {
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-bottom: 12.8rem;
}
.hero-heading {
  font-size: 4.4rem;
  color: var(--color-accent);
}
.hero-heading span {
  font-size: 2.4rem;
}
.hero-subheading {
  color: var(--color-grey);
  font-size: 2rem;
}
.hero-subheading span {
  font-size: 1.8rem;
  font-weight: normal;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
}
.img-container::before {
  content: "";
  position: absolute;
  width: 40rem;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  transform: translate(-50%, 0);
  top: -4.6rem;
  left: 50%;
  background-color: var(--color-accent);
  z-index: -1;
}
.socials {
  width: 40%;
  padding: 1rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: var(--color-accent);
  position: absolute;
  left: 0;
  bottom: 15rem;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  gap: 8rem;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25);
}
.social-icon {
  color: var(--color-white);
  font-size: 6.4rem;
}
.about-text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}
.about-text span {
  font-size: 2.4rem;
  font-family: "Merriweather";
  color: var(--color-accent);
  font-weight: bold;
}
.about-text span:last-child {
  font-family: "Great Vibes";
  font-size: 7.4rem;
  font-weight: normal;
  text-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
}
.about .img-container::before {
  content: "";
  position: absolute;
  width: 130%;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  transform: translate(-50%, 0);
  top: -5rem;
  left: 50%;
  background-color: var(--color-accent);
  z-index: -1;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  font-family: "Merriweather", serif;
}
.services-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.service-container {
  flex: 0 0 45%;
  aspect-ratio: 1/1;

  background-image: url(images/Kosmetische_Behandlungen/beauty-teenies.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25);
}
.service-container:last-child {
  background-image: url(images/Wellness_Massagen/pexels-ornella-delfino-8460603.jpg);
}
.service-link {
  display: inline-block;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4.6rem;
  color: var(--color-accent);

  background-color: var(--color-white-oppacity);
}
.service-container:hover,
.service-link:hover {
  transform: scale(1.1);
  transition: 1s ease;
}
.service-container:hover {
  box-shadow: 2.2rem 2.2rem 2.2rem rgba(0, 0, 0, 0.25);
}
/* FOOTER */
.contacts,
.contact-card,
.contact-section,
.contact-content,
.required-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-footer {
  padding: 3.2rem;
}
.contacts {
  flex: 1 0 0;
  width: 100%;
  max-width: 100rem;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: space-between;
}
.contact-card {
  flex: 1 0 0;
  font-family: "Merriweather", serif;
  height: 44rem;
  background-color: var(--color-accent);
  border-radius: 2rem;
  /* gap: 1.6rem; */
  padding: 1.8rem;
  padding-bottom: 2.4rem;
  text-align: center;
  color: var(--color-white);
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25);
  letter-spacing: 0.2rem;
}
.contact-card:nth-child(2) {
  background-color: var(--color-white);
  color: var(--color-grey);
}
.contact-heading {
  font-size: 5.2rem;
  font-family: "Great Vibes";
  font-weight: normal;
  margin-bottom: 2.4rem;
}
.contact-card:nth-child(2) .contact-heading {
  color: var(--color-accent);
}

.contact-card:nth-child(2) .contact-link {
  color: var(--color-grey);
}
.contact-card:nth-child(2) .contact-icon {
  color: var(--color-accent);
}
.contact-text {
  font-size: 2rem;
  font-family: "Raleway", serif;
  line-height: 1.5;
}
.contact-section {
  flex: 1 0 0;
  justify-content: space-evenly;
}
.contact-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 2rem;
}
.contact-icon {
  color: var(--color-accent);
  color: var(--color-white);
  /* background-color: var(--color-white); */
  font-size: 2.4rem;
  padding: 0.4rem;
  border-radius: 50%;
}
.contact-logo {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.contact-logo .company-name {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}
.contact-logo .logo-name {
  font-size: 2.8rem;
}
.required-link {
  color: var(--color-accent);
  font-weight: bold;
  font-size: 2rem;
}
.service-description {
  width: 100%;
  max-width: 100rem;
}
.service-heading {
  font-size: 4.4rem;
  font-family: "Merriweather", serif;
  color: var(--color-accent);
  margin-bottom: 4.8rem;
}
.service-text {
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 1.6;
}

/*  */
.treatment {
  padding-right: 8rem;
}
.treatment-cards {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}
.treatment-card-medium {
  display: flex;

  position: relative;
  background-color: var(--color-primary);

  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  min-height: 42rem;

  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25);
}

.treatment-card-large {
  display: flex;

  position: relative;

  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  min-height: 54rem;
  height: fit-content;

  width: 100%;

  background-color: var(--color-accent);
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25);
}
.treatment-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;

  padding-right: 4.2rem;

  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
.treatment-heading {
  font-size: 6.2rem;
  font-family: "Great Vibes";
  letter-spacing: 0.4rem;
  font-weight: normal;
  color: var(--color-accent);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-12%, -110%);

  text-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.25);

  padding-top: 4rem;
  padding-left: 4rem;
}
.treatment-description {
  width: 100%;
  padding-right: 3rem;

  padding-top: 3.2rem;
  padding-left: 3.2rem;
}
.treatment-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 3.2rem;
}
.treatment-time {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.treatment-time span {
  font-family: "Great Vibes";
  font-size: 4.6rem;
  display: inline-block;
  letter-spacing: -0.2rem;
}
.treatment-time span::first-letter {
  margin-left: 0.6rem;
}
.treatment-price {
  font-family: "Great Vibes";
  font-size: 9.4rem;
  color: var(--color-white);
  background-color: var(--color-accent);

  line-height: 1;
  letter-spacing: -0.8rem;

  padding: 0 3.2rem;
  padding-top: 1.2rem;

  text-align: center;

  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
.treatment-price::first-letter {
  font-size: 3rem;
  margin-right: 1.2rem;
}
.treatment-cards img {
  height: fit-content;

  border-radius: 2rem;

  margin: auto 0;
  transform: scale(1.32);

  /* position: absolute;
  right: 0;
  top: 50%;

  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.25); */
}

.treatment-card-large .treatment-info {
  padding: 0;
  padding-right: 12rem;
}
.treatment-card-large .treatment-description {
  padding: 2.4rem;
  padding-left: 4rem;

  background-color: var(--color-primary);

  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.treatment-card-large .treatment-footer {
  padding-left: 4rem;

  color: var(--color-white);
}
.treatment-card-large img {
  transform: scale(1.7);
}
.treatment-benefits {
  list-style: none;

  padding: 2.4rem;
  padding-left: 4rem;

  color: var(--color-white);
}
.benefit-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.benefit-icon {
  font-size: 2.4rem;
}

/*   FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* 
  
  
  */

@media (max-width: 71.5em) {
  html {
    font-size: 56.25%;
  }
  .treatment-card-large img {
    transform: scale(1.6);
  }
  .treatment-card-medium img {
    transform: scale(1.2);
  }
  .treatment-card-large .treatment-info {
    padding-right: 11.2rem;
  }
}
@media (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
  .treatment-card-large img {
    transform: scale(1.45);
  }
  .treatment-card-large .treatment-info {
    padding-right: 9.6rem;
  }
  .hero .img-container,
  .about .img-container {
    flex: 0 0 30%;
  }
  .hero .img-container::before,
  .about .img-container::before {
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* 880 px */
@media (max-width: 55em) {
  html {
    font-size: 46%;
  }
  .treatment-card-large img {
    transform: scale(1.4);
  }
}
@media (max-width: 48em) {
  body {
    display: flex;
    flex-direction: column;
    gap: 126px;
  }
  .main-header {
    display: none;
  }
  .treatment-cards {
    display: flex;
    flex-direction: column;
    gap: 124px;
  }
  .section {
    padding: 0 2.4rem;
    height: auto;
    min-height: 100vh;
  }
  .section.hero,
  .section.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .hero,
  .about {
    position: relative;
  }
  .article.hero {
    flex: 1 0 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(
      to right,
      var(--color-white-oppacity-2),
      var(--color-white-oppacity-2),
      var(--color-white-oppacity-2),
      rgba(255, 255, 255, 0)
    );
    margin-bottom: 0;
  }
  .article.hero {
    justify-content: start;
    background-image: linear-gradient(
      to right,
      var(--color-white-oppacity-2),
      var(--color-white-oppacity-2),
      var(--color-white-oppacity-2),
      var(--color-white-oppacity),
      rgba(255, 255, 255, 0)
    );
  }
  .article.about {
    flex-direction: column;
  }
  .socials {
    width: fit-content;
  }
  .hero-text {
    width: 75%;
  }
  .about .img-container::before {
    width: 110%;
    height: 110%;
  }
  .hero .img-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -1;
    width: 50%;
  }
  .services-container {
    flex-direction: column;
    gap: 4.8rem;
    height: 100%;
    width: 100%;
  }
  .service-container {
    flex: 0 0 40%;
    width: 100%;
    max-width: 75rem;
  }
  .treatment-card-medium,
  .treatment-card-large {
    flex-direction: column;

    width: 100%;
    max-width: 75rem;
    max-width: 60rem;
  }
  .treatment-card-medium {
    flex-direction: column;
  }
  .treatment-card-large img,
  .treatment-card-medium img {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 60rem;
    /*     
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0) scale(1); */
    transform: scale(1);
  }
  .treatment-card-medium {
    min-height: 0rem;
  }
  .treatment-info,
  .treatment-time {
    font-size: 2rem;
  }
  .treatment-price {
    font-size: 9.8rem;
  }
  .treatment-card-medium .treatment-info {
    padding-right: 0;
  }
  .treatment-card-medium,
  .treatment-card-large {
    border-radius: 2rem;
  }
  .treatment-card-medium .treatment-description,
  .treatment-card-large .treatment-description {
    border-radius: 2rem;
  }
  .treatment-card-large .treatment-info {
    padding: 0;
    padding-bottom: 2.4rem;
    padding-right: 0;
  }
  .treatment-card-large .treatment-footer {
    padding-right: 3.2rem;
  }
  .treatment-footer {
    padding-top: 2.4rem;
  }
  .treatment-price {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2rem;
  }
  .contacts {
    flex-direction: column;
  }
  .contact-card {
    width: 100%;
    max-width: 60rem;
  }
  .contact-heading {
    font-size: 6.2rem;
    padding: 1.2rem 0;
    letter-spacing: 0.4rem;
  }
  .contact-text,
  .contact-link {
    font-size: 2.4rem;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 41%;
  }
}
